/* .imagem_home {
    width: 700px;
    height: 600px;
} */

.margin-top {
    margin-top: 40px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.amina1 {
    width: 400px;
    height: 200px;
    text-align: center;
}